.highlight{
    font-weight: bold;
}

 
.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Ajusta según tu necesidad */
/*             left 20px; */
    right: 50px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-button:hover {
    background-color: #20c356;
    transform: scale(1.1);
}

.whatsapp-button i {
    font-size: 30px;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.whatsapp-button {
    animation: heartbeat 1.5s infinite;
}


.nuevo {
    position: absolute;
    top: 4px;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 6px;
    animation: parpadeo 1s infinite alternate;
    transform: translateX(-50%);
  }
  
  @keyframes parpadeo {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
  }
  