body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.property h2{
    color: red;
}

.property h2, .property p{
    margin-right: 20px;
    display: inline-block;
}


.property h3{
    display: block;
    color: red;
}


.property img {
    border: 2px solid #000; /* Borde negro sólido de 2 píxeles */
    padding: 5px; /* Espacio entre la imagen y el borde */
    width: 400px; /* Ancho específico de la imagen */
    height: 350px; 
    display: inline-block;
    margin: 10px auto; /* Centrar las imágenes */
    margin-inline: 105px;  
}

.property li{
    padding-top: 4px;
    padding-bottom: 10px;
}

.sangria {
    text-indent: 2em; /* Ajusta el valor según la cantidad de sangría que desees */
    margin-bottom: 1em; /* Espacio entre párrafos */
}





@media (max-width: 600px) {

    .property img {
        border: 2px solid #000; /* Borde negro sólido de 2 píxeles */
        padding: 5px; /* Espacio entre la imagen y el borde */
        width: 300px; /* Ancho específico de la imagen */
        height: 300px; 
        margin: 10px auto; /* Centrar las imágenes */
        
    }


}








